<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gcek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.c2dm.permission.SEND" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_gcek"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_gcek_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GCEK">
        <activity android:name=".MainDrawer.SettingTab.SettingActivity"></activity>
        <activity android:name=".MainDrawer.WerbsiteLoginsTab.LoginsActivity" />
        <activity android:name=".MainDrawer.ShowIDTab.ProfileActivity" />
        <activity android:name=".MainDrawer.FAQTab.FAQActivity" />
        <activity android:name=".MainDrawer.DiscoverCollegeTab.DiscoverActivity" />
        <activity android:name=".MainDrawer.publicForum.AddPublicForumActivity" />
        <activity android:name=".Services.TestingActivity" />
        <activity android:name=".MainDrawer.SettingTab.SettingTabExtraActivity" />
        <activity android:name=".TPO.TPOMain" />
        <activity android:name=".MainDrawer.FAQTab.FAQShowingActivity" />
        <activity android:name=".ShowPersonalNoticeActivity" />
        <activity android:name=".LoginServices.ChangePasswordActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainDrawer.DiscoverCollegeTab.DepartmentActivity" />
        <activity android:name=".MainActivityWithoutLogin" />
        <activity android:name=".Notification.SeeNoticeImageActivity" />
        <activity android:name=".LoginServices.RegisterPageActivity" />
        <activity android:name=".LoginServices.LoginPageActivity" />
        <activity android:name=".Notification.MainNotificationRecyclerView" />
        <activity android:name=".MainActivityWithLogin" />

        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>